.option-container {
  height: 1.5rem;
  width: 100%;
  padding: 0.5rem;
  display: grid;
  grid-template-columns: 1fr 3rem;
  cursor: pointer;
  .option-label {
    font-size: 1rem;
    color: black;
  }
  .focusedOption {
    background-color: #f8f9fa;
    color: blueviolet !important;
    font-weight: bold;
  }
  .selectedOption {
    color: blue;
    font-weight: bold;
  }
  .option-action {
    font-size: 0.7rem;
    color: red;
    display: grid;
    padding-top: 0.2rem;    
  }
}
