.input-container {
    width: 100%;
    input {
        width: 100%;
        border: none !important;
        border-bottom: 1px solid !important;
        height: 2rem;
        font-size: 1rem;
        background-color: unset;
    }
    input:focus {
        outline: none;
    }
}