.app-container {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    .movie-search-container {
        margin: auto;
        width: 50rem;
    }
}